<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Mes demandes envoyées", transactions_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Mes demandes reçues", mytransactions_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Mes plantes proposées", "#", class: "tab-underlined active" %>
  </li>
   <li>
    <%= link_to "Mes discussions", messages_path, class: "tab-underlined" %>
  </li>
</ul>

<div class="span3 well">
  <center>
    <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill, class: "profile-avatar" %>
    </a>
    <h3><%= @user.name %> </h3>
      <h4><%= @user.location %> </h4>
    <h4><%= @user.email %> </h4>
    <h4> <%= link_to "Edit profile", edit_user_registration_path %></h4>
  </center>
</div>


<div class="row">
<% @user.plants.each do |plant| %>
  <%= link_to plant_path(plant)  do %>
    <div class="col-xs-12 col-sm-4">
      <div class="card-product">
        <%= cl_image_tag plant.photo, crop: :fill %>
        <div class="card-product-infos">
        <ul>
          <li><%= plant.name %></li>
          <li> <p> <%=plant.description %> </p></li>
          <li> <p> Origine :  <%= plant.origin %> </p></li>
          <li> <p> Prix mensuel : <%= plant.pricepermonth%>€ </p></li>
              <% if plant.availability == true %>
                <p id="available"><%= "Disponible" %> </p></li>
              <% else%>
                <p id="unavailable"><%= "Indisponible" %> </p>
              <% end%>
          </li>
          <li> <p id="owner"> Posté par : <%= plant.user.name %> </p> </li>
        </ul>
        <%= cl_image_tag plant.user.photo, class: "card-avatar avatar" %>
      </div>
    </div>
  </div>
  <%end %>
  <% end %>
</div>







<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The best plants you'll ever had <i class="fas fa-heart"></i>
  </div>
</div>
