<h1><%= @user.email %> </h1>
<h1><%= @user.name %> </h1>
<h1><%= @user.location %> </h1>
<%= cl_image_tag @user.photo, class: "avatar dropdown-toggle", height: 300, width: 400, crop: :fill %>

<%= link_to "Edit profile", edit_user_registration_path %>

<% @user.plants.each do |plant|%>
  <h2>  <%= plant.name %></h2>
  <p> Description : <%= plant.description %></p>
  <p> Availability : <%= plant.availability %></p>
  <p> Origin : <%= plant.origin %></p>
  <p> Price per month : <%= plant.pricepermonth %></p>
<% end %>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The best plants you'll ever had <i class="fas fa-heart"></i>
  </div>
</div>
