<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url("Banner.jpg")%>)"
  <div class="container">
    <h1>Air Plant</h1>
    <p>Aucune excuse pour vous planter</p>
  </div>
</div>
  <div class="container2">
    <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
        <%= cl_image_tag plant.photo, width: 120, height: 120, crop: :fill %>
        <div class="card-product-infos">
        <%= link_to plant.name, plant_path(plant)  %>
        <ul>
          <li> <p> <%=plant.description %> </p></li>
          <li> <p> Origine :  <%= plant.origin %> </p></li>
          <li> <p> Prix mensuel : <%= plant.pricepermonth%>€ </p></li>
          <li>
            <% if plant.availability == true %>
                <p id="available"><%= "Disponible" %> </p></li>
              <% else%>
                <p id="unavailable"><%= "Indisponible" %> </p>
              <% end%>
          </li>
        </ul>
        </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
<div class="footer text-center" style="margin: 20px;">
  <%= link_to "Ajouter une plante", new_plant_path, class: "btn btn-primary" %>
</div>

