<h1>All plants</h1>

<% if policy(Plant).create? %>
  <%= link_to "New plant", new_plant_path %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

</div>
  <div class="container2">
    <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
        <%= cl_image_tag plant.photo, width: 120, height: 120, crop: :fill %>
        <div class="card-product-infos">
        <%= link_to plant.name, plant_path(plant)  %>
        <ul>
          <li> <p> <%=plant.description %> </p></li>
          <li> <p> <strong>Origine :  </strong><%= plant.origin %> </p></li>
          <li> <p> <strong> Prix mensuel :</strong> <%= plant.pricepermonth%>€ </p></li>
          <li>
            <% if plant.availability == true %>
                <p id="available"><%= "Disponible" %> </p></li>
              <% else%>
                <p id="unavailable"><%= "Indisponible" %> </p>
              <% end%>
          </li>
        </ul>
        <%= cl_image_tag plant.user.photo, class:"avatar" %>
        </div>
        </div>
      </div>
    <% end %>
    </div>
</div>

