<h1>Toutes les plantes disponibles</h1>

    <div class="iform">
      <form action="/plants" method="get">
        <input type="text" name="name" placeholder="Type of plant">
        <input type="text" name="origin" placeholder="Country of origin">
        <input class="btn-treehouse" type="submit" value="Submit">
      </form>
    </div>

  <div class="container2">
    <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
          <%= cl_image_tag plant.photo, crop: :fill %>
          <div class="card-product-infos">
            <ul>
            <li><%= link_to plant.name, plant_path(plant) %></li>
            <li> <p> <%=plant.description %> </p></li>
            <li> <p> Origine :  <%= plant.origin %> </p></li>
            <li> <p> Prix mensuel : <%= plant.pricepermonth%>€ </p></li>
                <% if plant.availability == true %>
                  <p id="available"><%= "Disponible" %> </p></li>
                <% else%>
                  <p id="unavailable"><%= "Indisponible" %> </p>
                <% end%>
            </li>
            <li> <p id="owner"> Posté par : <%= link_to plant.user.name, go_to_profile_path(plant.user.id) %> </p> </li>
          </ul>
          <%= cl_image_tag plant.user.photo, class: "card-avatar avatar" %>
          </div>
        </div>
         <div class="btn-book">
          <%= link_to "Book", new_plant_transaction_path(plant) %>
          <%= link_to "Discuss", new_plant_message_path(plant) %>
        </div>
      </div>
      <% end %>
    </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The best plants you'll ever had <i class="fas fa-heart"></i>
  </div>
</div>
