
<div class="bodysub" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,6)), url(<%= asset_url("wow.jpeg")%>)">
<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url("addnew.jpg")%>)">
<div class="contform">
<h1 style="color:white"> Louez votre votre petite plante ! </h1>
  <%= simple_form_for(@plant) do |f| %>
    <%= f.input :name, label:'Nom de la plante' %>
    <%= f.input :description %>
    <%= f.input :origin, label: 'Origine'%>
    <%= f.input :availability, label: 'Disponibilité' %>
    <%= f.input :pricepermonth, label: 'Prix mensuel' %>
    <%= f.input :address, label: 'Adresse' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class = "submit">
    <%= f.submit %>
    </div>
  <% end %>
</div>
</div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The best plants you'll ever had <i class="fas fa-heart"></i>
  </div>
</div>
