<h1> New plant</h1>

<%= link_to '<i class="fas fa-home"></i>'.html_safe, plants_path %>

<%= simple_form_for(@plant) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :origin %>
  <%= f.input :availability %>
  <%= f.input :pricepermonth %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>

