<h1><%= @plant.name %></h1>

<% if policy(@plant).edit? %>
  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, plant_path(@plant), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<% if policy(@plant).update? %>
  <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_plant_path(@plant) %>
  <% end %>
<%= link_to '<i class="fas fa-home"></i>'.html_safe, plants_path %>

<p> <strong>Description :</strong> <%= @plant.description %></p>
<p> <strong>Availability : </strong><%= @plant.availability %></p>
<p> <strong>Origin : </strong><%= @plant.origin %></p>
<p> <strong>Price per month : </strong><%= @plant.pricepermonth %></p>

<%= cl_image_tag @plant.photo, height: 300, width: 400, crop: :fill %>

<div class="container3">
  <h1>Posté par : <%= link_to @plant.user.name, go_to_profile_path(@plant.user.id) %> </h1>

  <h1><%= @plant.user.email %> </h1>
  <%= cl_image_tag @plant.user.photo, height: 300, width: 400, crop: :fill, class: "card-avatar avatar" %>
  <h1><%= @plant.user.location %> </h1>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The best plants you'll ever had <i class="fas fa-heart"></i>
  </div>
</div>
