
<% if policy(@plant).edit? %>
  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, plant_path(@plant), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<% if policy(@plant).update? %>
  <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_plant_path(@plant) %>
  <% end %>


<div class="container-show">
<div class="span3 well col-xs-12 col-sm-6">
  <center>
    <h3><%= @plant.name %></h3>
    <a href="#aboutModal" data-toggle="modal" data-target="#myModal">


        <%= cl_image_tag @plant.photo, height: 300, width: 400, crop: :fill, class: "profile-avatar" %>

    </a>

    <h4> <strong>Description :</strong> <%= @plant.description %></h4>
    <h4> <strong>Availability : </strong><%= @plant.availability %></h4>
    <h4> <strong>Origin : </strong><%= @plant.origin %></h4>
    <h4> <strong>Price per month : </strong><%= @plant.pricepermonth %></h4>
    <h4> <strong>Address : </strong><%= @plant.address %></h4>
  </center>
</div>


<div class="span3 well col-xs-12 col-sm-6">
  <center>
    <h3>Posté par : <%= link_to @plant.user.name, go_to_profile_path(@plant.user.id) %> </h3>
    <a href="#aboutModal" data-toggle="modal" data-target="#myModal">

        <%= cl_image_tag @plant.user.photo, height: 300, width: 400, crop: :fill, class: "profile-avatar" %>
    </a>
      <h4><%= @plant.user.location %> </h4>
    <h4><%= @plant.user.email%> </h4>
  </center>
</div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The best plants you'll ever had <i class="fas fa-heart"></i>
  </div>
</div>
