<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Mes demandes envoyées", transactions_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Mes demandes reçues", "#", class: "tab-underlined active" %>
  </li>
   <li>
    <%= link_to "Mes plantes proposées", profile_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Mes discussions", messages_path, class: "tab-underlined" %>
  </li>
</ul>

</div>
  <div class="container2">
    <div class="row">
    <% @my_transactions.each do |transaction| %>
      <%= link_to plant_path(Plant.find(transaction.plant_id))  do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-product">
            <%= cl_image_tag Plant.find(transaction.plant_id).photo, crop: :fill %>
            <div class="card-product-infos">
            <ul>
              <li><%= Plant.find(transaction.plant_id).name %></li>
              <li> <p> <%=Plant.find(transaction.plant_id).description %> </p></li>
              <li> <p> Prix mensuel : <%= Plant.find(transaction.plant_id).pricepermonth%>€ </p></li>
                  <li> <p> Vous avez mis  cette plante en location du <strong> <%= transaction.start_date %></strong> jusqu'au <strong> <%= transaction.end_date %></strong></p></li>
              <li> <p id="owner"> Loué à : <%= User.find(transaction.user_id).name %> </p> </li>
               <li>
                <% if transaction.status == 'accepted' %>
                  <p>Status: <i class="fas fa-check"></i></p>
                <%  else %>
                  <p><strong> Status:</strong> Pending</p>
                <% end %>
              </li>
            </ul>
            <%= cl_image_tag User.find(transaction.user_id).photo, class: "card-avatar avatar" %>
          </div>
        </div>
            <%= link_to "Accept", accept_transaction_path(transaction.id), class: "btn-book"  %>
      </div>
      <%end %>
      <% end %>
    </div>
</div>
